<!-- messenger/templates/messenger/all_contact.html -->

{% extends "messenger/base.html" %}

{% block title %}All Contacts{% endblock %}

{% block content %}
    <h2>All Contacts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Contact User</th>
                <th>Contacted By</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in users %}
                <tr>
                    <td>{{ contact.contact_user.username }}</td>
                    <td>{{ contact.user.username }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No contacts found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
