<!-- app/templates/app/register.html -->
{% extends "app/base.html" %}

{% block content %}
<style>
    body{
        background: linear-gradient(to right, #a6c0fe, #f68084);

    }
    /* Добавьте это в ваш CSS файл */
    .form-signin {
        max-width: 400px;
        margin: 0 auto;
    }

    .form-signin .form-group {
        margin-bottom: 15px;
    }

    .form-signin .form-control {
        border-radius: 0.25rem;
    }

    .form-signin .btn {
        border-radius: 0.25rem;
    }

</style>
<div class="container mt-5" >
    <div class="jumbotron text-center" style="background: linear-gradient(to right, #ff9a9e, #fad0c4); border-radius: 70px;">
        <h1 class="display-4">Регистрация</h1>
        <p class="lead">Создайте новую учетную запись, чтобы начать использовать Web Messenger.</p>
        <hr class="my-4">
        <form method="POST" class="form-signin">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </form>
        <p class="mt-3">У вас уже есть аккаунт? <a href="{% url 'login' %}">Log in here</a>.</p>
    </div>
</div>
{% endblock %}
